<!DOCTYPE html>
<html>

<head>
    <link href='https://fonts.googleapis.com/css?family=Fredericka+the+Great' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,600italic,700,400italic,600,300italic,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/modal.css">
    <link rel="stylesheet" href="../css/btns_forms.css">
    <link rel="stylesheet" href="../css/select_options.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>////</title>
</head>

<body>

    <header>
        <button id="tally-btn" class="btn-mid">Star tally</button>
        <button id="addkids-btn" class="btn-mid" style="width: 300px;">add kids</button>
        <!-- <button id="refresh-btn" class="btn-mid">refresh</button> -->
    </header>


    <!-- /////////////// EDIT MODAL START ///////////////////////-->

    <div id="tally-modal" class="tally-modal">

        <div class="tally-modal-content">
            <div class="modal-header">
                <i class="fa fa-times fa-2x close" aria-hidden="true"></i>
            </div>

            <div class="model-heading">
                <p>Star tally
                    <br>
                    <span>
                  —— day <span>1</span> of 7 ——
                    <span></p>
                </div>
            <div class="modal-body edit-kids-modal-cols">
                <% if (kids.length < 1){ %>

                    <% } else { %>
                        <% for(var i = 0; i < kids.length; i++){ %>
                            <div class="edit-kids-modal-cols">
                                <div>
                                    <!-- each column -->
                                    <div>
                                        <i id="<%= kids[i].starColor %>" class="fa fa-star fa-2x" aria-hidden="true"></i>
                                    </div>
                                    <p>
                                        <%= kids[i].kidName %>
                                    </p>
                                    <button data-id="<%= kids[i]._id %>" class="delete-kid delete-btn btn-sml" id="kids[i]._id">delete</button>
                                </div>
                            </div>
                            <% } %>
            </div>
            <% } %>
            <div class="modal-footer modal-footer-flex-row">
              <button class="btn-sml" >save day 1</button>
              <button class="btn-sml" >save day 2</button>
              <button class="btn-sml" >save day 3</button>
              <button class="btn-sml" >save day 4</button>
              <button class="btn-sml" >save day 5</button>
              <button class="btn-sml" >save day 6</button>
              <button class="btn-sml" >save day 7</button>
            </div>
        </div>
    </div>

    </div>
    <!--  /////////////// END MODAL  ///////////////////////-->


    <!--  /////////////// ADD KIDS MODEL  ///////////////////////-->

    <div id="addkids-modal" class="addkid-modal">

        <div class="addkid-modal-content">
            <div class="modal-header">
                <i class="fa fa-times fa-2x close" aria-hidden="true"></i>
            </div>

            <div class="add-kids-form">
                <form id="new-kid" class="flex_row" action="/new" method="post">
                    <input type="text" name="kid_name" class='text-field' autofocus=true placeholder='Kid name' />
                    <select name="star_color">
                        <option disabled selected class="one">Choose a color</option>
                        <option value="pink">pink</option>
                        <option value="red">red</option>
                        <option value="orange">orange</option>
                        <option value="purple">purple</option>
                        <option value="green">green</option>
                        <option value="black">black</option>
                        <option value="blue">blue</option>
                    </select>
                    <!-- <input type="text" name="day_1" class='text-field sml' autofocus=true placeholder='stars' /> -->
                    <button class="btn-large kid-add-button" type="submit">Add</button>
                </form>
            </div>

        </div>
        <!-- </div> -->
    </div>

    <!--  /////////////// ADD KIDS END  ///////////////////////-->


    <!--  /////////////// MAIN DISPLAY  ///////////////////////-->

    <% if (kids.length < 1){ %>
        <div class='start-message'>
            <i style="transform: rotate(50deg); margin-left: 30%;"class="fa fa-arrow-up fa-2x" aria-hidden="true"></i>
            <br> Add kids and start staring
        </div>
        <% } else { %>
            <div class="kids">
                <% for(var i = 0; i < kids.length; i++){ %>
                    <div class="kid" data-id="<%= kids[i]._id %>">

                        <% for(var j = 0; j < kids[i].day1; j++){ %>
                            <i data-id="<%= kids[i]._id %>" class="fa fa-star fa-5x <%= kids[i].starColor %>-counter" style="color: <%=kids[i].starColor %>" aria-hidden="true"></i>
                            <% } %>

                                <div data-id="<%= kids[i]._id %>" class="<%= kids[i].starColor %>">
                                    <p class="kids-name-main">
                                        <%= kids[i].kidName %>
                                    </p>
                                </div>
                    </div>
                    <% } %>
            </div>
            <% } %>






                <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
                <script src="../js/script.js"></script>
                <script src="../js/modal.js"></script>
                <script src="../js/select_options.js"></script>
</body>

</html>
